@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  box-sizing: border-box;
  transition: 0.2s linear;
  font-family: "Poppins", sans-serif;
}

$green: #219150;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$border: 2rem solid $black;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $black;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;

  .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: $black;
    font-weight: bold;
    i {
      color: $green;
    }
  }
  .navbar {
    a {
      margin-left: 2rem;
      font-size: 1.7rem;
      color: $black;
      &:hover {
        color: $green;
      }
    }
    #nav-close {
      font-size: 5rem;
      cursor: pointer;
      color: $black;
      display: none;
    }
  }
  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: $black;
    &:hover {
      color: $green;
    }
  }
  #menu-btn {
    display: none;
  }
}

//Media Queries
@media (max-width: 75em) {
  .header {
    padding: 2rem;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 48em) {
  .header {
    #menu-btn {
      display: inline-block;
    }
    .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: $white;
      z-index: 10000;
      width: 35rem;
      height: 100%;

      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      }

      a {
        margin: 1rem 0;
        font-size: 3rem;
      }
      #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
      }
    }
  }
}

@media (max-width: 29em) {
  html {
    font-size: 50%;
  }
}
